:root {
    --main-color: #0b0b0b;
    // --main-color: #100101;
}
.link {
    text-decoration: none;
    color: inherit;
}

.makeFocus:hover{
    background-color: #312d2d;
}
.makeFocus:active{
    background-color: #0b0b0b;
}
.disabled-link{
    color: rgb(192, 189, 189);
}

@mixin md {
    @media (max-width: 768px){
        @content;
    }
}
@mixin sm {
    @media (max-width: 480px){
        @content;
    }
}