@import '../../main.scss';

.userList {
    flex: 4;
    padding: 20px;
    .userTitleContainer{
        @include flexCenter(row);
        justify-content: space-between;
        .userAddButton{
            width: 80px;
            border: none;
            cursor: pointer;
            padding: 5px;
            background-color: teal;
            border-radius: 5px;
            color: white;
            font-size: 16px;
        }
    }
    .userListUser {
        @include flexCenter(row);
        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 50%;
        }

    }
    .userListEdit{
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: rgb(16, 222, 16);
        color: white;
        cursor: pointer;
        margin-right: 10px;
        font-weight: 400;
    }
    .userListDelete{
        cursor: pointer;
        color: red;
    }
}