.footer{
    margin-top: 3rem;
    background: rgb(19, 19, 19);
    color: red;
    display: flex;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    letter-spacing: 3px;
    padding: 20px;
}